@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-fill: #171717;
        --color-fill-accent: #262626;
        --color-fill-accent-hover: #404040;
        --color-text: #fafafa;
    }
}
